<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>แพลตฟอร์ม Chaingmai Low Carbon City สู่ Net Zero City</title>

    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/apps.css" rel="stylesheet">
</head>

<body>
    <header class="border-bottom">
        <div class="container-fluid py-3 ">
            <div class="d-flex flex-column flex-md-row align-items-center">
                <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
                    
                    <span class="fs-4">Chaingmai :: Net Zero City</span>
                </a>
                <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                    <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">หน้าหลัก</a>
                    <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">ฐานข้อมูล</a>
                    <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">ติดต่อเรา</a>
                    <a class="py-2 link-body-emphasis text-decoration-none" href="#">บัญชีผู้ใช้</a>
                </nav>
            </div>
        </div>
    </header>

    <section class="container-fluid">

    </section>

    <footer class="py-3 position-fixed bottom-0 start-0 end-0">
        <p class="text-center m-0 small">หน่วยวิจัยเพื่อการจัดการพลังงานและเศรษฐนิเวศ สถาบันวิจัยพหุศาสตร์ มหาวิทยาลัยเชียงใหม่ (3E)</p>
    </footer>

    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/apps.js"></script>
</body>

</html>